<div class="container w-50 mt-5 text-center">

  <div class="text-center display-4 m-3">
    Word Limit: {{limit}}
  </div><br>


  <input type="range" min="1" max="50" value="{{ limit }}" class="slider form-control-range "
    (change)="handleSlideChange($event.target.value)" />

  <button class="btn btn-info" (click)="generate()">Generate Words</button><br>
  <button class="btn btn-info" (click)="getRdInteger(0,20)">Generate Country</button>



  <div *ngIf="words" class="card card-body">
    <p class="display-5">
      {{words}}
    </p>

  </div><br>

  <div *ngIf="country" class="card card-body">
    <p>{{country}}</p>
  </div>





</div>
